requests==2.8.1
elasticsearch==1.5.0
cython==0.22
thriftpy==0.3.1
pyramid==1.5.7
xylose==1.16.5
-e git+https://github.com/scieloorg/thriftpy-wrap@0.1.1#egg=thriftpywrap
-e git+https://github.com/scieloorg/access_stats@0.6.4#egg=access
