requests==2.7.0
elasticsearch==1.5.0
cython==0.22
thriftpy==0.3.1
pyramid==1.5.7
-e git+https://github.com/scieloorg/xylose@1.15.5#egg=xylose
-e git+https://github.com/scieloorg/thriftpy-wrap@0.1.1#egg=thriftpywrap
-e git+https://github.com/scieloorg/access_stats@0.4.4#egg=access
